{% if messages %}
<div class="position-relative">
    <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 100;">
        {% for message in messages %}
        {% if message.tags == "success" %}
        <!-- Green variant -->
        <div class="toast bg-success text-white">
            <div class="toast-body d-flex justify-content-between">
                {% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast"></button>
            </div>
        </div>
        {% elif message.tags == "error" %}
        <!-- Red variant -->
        <div class="toast bg-danger text-white">
            <div class="toast-body d-flex justify-content-between">
                {% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast"></button>
            </div>
        </div>
        {% elif message.tags == "warning" %}
        <!-- Orange variant -->
        <div class="toast bg-warning text-white">
            <div class="toast-body d-flex justify-content-between">
                {% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast"></button>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}