{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}
{% trans "Change Password" %}
{% endblock head_title %}

{% block page_title %}
{% trans "Change Password" %}
{% endblock page_title %}

{% block breadcrumbs %}
{% endblock breadcrumbs %}

{% block content %}
<div class="row">
    <div class="offset-md-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <form method="post" action="{% url 'account_change_password' %}">
                    {% csrf_token %}
                    
                    <div class="form-group mb-3">
                        <label for="{{ form.oldpassword.id_for_label }}" class="form-label">Current Password *</label>
                        <input type="password" name="oldpassword" class="form-control {% if form.oldpassword.errors %}is-invalid{% endif %}" id="id_oldpassword" required>
                        {% if form.oldpassword.errors %}
                        <div class='text-danger pt-3'>{{ form.oldpassword.errors }}</div>
                        {% endif %}
                    </div>

                    <div class="form-group position-relative mb-3">
                        <label for="id_password1" class="form-label">New Password *</label>
                        <div class="position-relative">
                            <input type="password" name="password1" class="form-control {% if form.password1.errors %}is-invalid{% endif %}" id="id_password1" required>
                            <span class="toggle-password">
                                <i class="fa fa-eye-slash"></i>
                            </span>
                        </div>
                        {% if form.password1.errors %}
                        <div class='text-danger pt-3'>{{ form.password1.errors }}</div>
                        {% endif %}
                    </div>
                    
                    <ul class="text-muted small mb-3">
                        <li>Your password can't be too similar to your other personal information.</li>
                        <li>Your password must contain at least 8 characters.</li>
                        <li>Your password can't be a commonly used password.</li>
                        <li>Your password can't be entirely numeric.</li>
                    </ul>
                    
                    <div class="form-group position-relative mb-3">
                        <label for="id_password2" class="form-label">New Password (Again) *</label>
                        <div class="position-relative">
                            <input type="password" name="password2" class="form-control {% if form.password2.errors %}is-invalid{% endif %}" id="id_password2" required>
                            <span class="toggle-password">
                                <i class="fa fa-eye-slash"></i>
                            </span>
                        </div>
                        {% if form.password2.errors %}
                        <div class='text-danger pt-3'>{{ form.password2.errors }}</div>
                        {% endif %}
                    </div>

                    <div class="d-grid mb-3">
                        <button type="submit" class="btn btn-primary btn-block">{% trans 'Change Password' %}</button>
                    </div>
                    <a href="{% url 'account_reset_password' %}" class="text-center d-block">{% trans "Forgot Password?" %}</a>
                </form>
                
                {% if form.errors %}
                {% for error in form.non_field_errors %}
                <div class="alert alert-danger mt-3">
                    {{ error|escape }}
                </div>
                {% endfor %}
                {% endif %}

                {% if messages %}
                {% for message in messages %}
                {% if message.tags == "success" %}
                <div class="alert alert-success mt-3">
                    {% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}
                </div>
                {% endif %}
                {% if message.tags == "error" %}
                <div class="alert alert-danger mt-3">
                    {% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
